 table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
.logo-placeholder {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BaustLogo {
    border: 1px solid black;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}